<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    @* <meta name="viewport" content="width=device-width, initial-scale=1.0"/> *@
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable = no">
    <title>@ViewData["Title"] CrossWorld!</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/CrossWorldApp.styles.css" asp-append-version="true"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"/>
    <script>
        // Immediately invoked function to set the theme on initial load
        (function() {
            let currentTheme = localStorage.getItem('theme') ? localStorage.getItem('theme') : null;
            if (currentTheme) {
                document.documentElement.setAttribute('data-theme', currentTheme);
            }
        })();
      </script>
        <script>
            !function(t,e){var o,n,p,r;e.__SV||(window.posthog=e,e._i=[],e.init=function(i,s,a){function g(t,e){var o=e.split(".");2==o.length&&(t=t[o[0]],e=o[1]),t[e]=function(){t.push([e].concat(Array.prototype.slice.call(arguments,0)))}}(p=t.createElement("script")).type="text/javascript",p.async=!0,p.src=s.api_host+"/static/array.js",(r=t.getElementsByTagName("script")[0]).parentNode.insertBefore(p,r);var u=e;for(void 0!==a?u=e[a]=[]:a="posthog",u.people=u.people||[],u.toString=function(t){var e="posthog";return"posthog"!==a&&(e+="."+a),t||(e+=" (stub)"),e},u.people.toString=function(){return u.toString(1)+".people (stub)"},o="capture identify alias people.set people.set_once set_config register register_once unregister opt_out_capturing has_opted_out_capturing opt_in_capturing reset isFeatureEnabled onFeatureFlags getFeatureFlag getFeatureFlagPayload reloadFeatureFlags group updateEarlyAccessFeatureEnrollment getEarlyAccessFeatures getActiveMatchingSurveys getSurveys".split(" "),n=0;n<o.length;n++)g(u,o[n]);e._i.push([i,s,a])},e.__SV=1)}(document,window.posthog||[]);
            posthog.init('phc_lVkNFwzsPDTr1nRsoAeavKKYRGSAj5eyzKEb0sXqGn7',{api_host:'https://app.posthog.com'})
        </script>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                CrossWorld!
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <!-- Keep your other links here -->
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <div class="nav-link">
                            Dark Mode
                            <label class="switch">
                                <input type="checkbox" id="darkModeSwitch"/>
                                <span class="slider round"></span>
                            </label>
                        </div>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Drafts" asp-action="Index">Drafts</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        @await Html.PartialAsync("_LoginPartial")
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="footer text-muted">
    <div class="container">
        &copy; 2023 - CrossWorld! - 
        <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a> - 
        <a asp-area="" asp-controller="Home" asp-action="About">About</a> - 
        <a asp-area="" asp-controller="Home" asp-action="Acknowledgements">Ack's</a> - 
        <a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script>
    let currentTheme = localStorage.getItem('theme');
    let darkModeSwitch = document.getElementById('darkModeSwitch');
    if (currentTheme) {
        document.documentElement.setAttribute('data-theme', currentTheme);
        darkModeSwitch.checked = currentTheme === 'dark';
        document.body.style.visibility = 'visible'; // make the body visible
    } else {
        document.documentElement.setAttribute('data-theme', 'light');
        darkModeSwitch.checked = false;
        document.body.style.visibility = 'visible'; // make the body visible
    }
    darkModeSwitch.addEventListener('change', function(event) {
        let theme = event.target.checked ? 'dark' : 'light';
        document.documentElement.setAttribute('data-theme', theme);
        localStorage.setItem('theme',  theme);
    });
    
</script>
@*<script src="~/js/site.js" asp-append-version="true"></script>*@
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>