<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] CrossWorld!</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/CrossWorldApp.styles.css" asp-append-version="true"/>
    <script>
        // Immediately invoked function to set the theme on initial load
        (function() {
            let currentTheme = localStorage.getItem('theme') ? localStorage.getItem('theme') : null;
            if (currentTheme) {
                document.documentElement.setAttribute('data-theme', currentTheme);
            }
        })();
      </script>

</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">CrossWorld!</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <!-- Keep your other links here -->
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Drafts" asp-action="Index">Drafts</a>
                    </li>
                </ul>
            </div>
            @await Html.PartialAsync("_LoginPartial")
            &nbsp;
            <label class="switch">
              <input type="checkbox" id="darkModeSwitch">
              <span class="slider round"></span>
            </label>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="footer text-muted">
    <div class="container">
        &copy; 2023 - CrossWorld! - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script>
    let currentTheme = localStorage.getItem('theme');
    let darkModeSwitch = document.getElementById('darkModeSwitch');
    if (currentTheme) {
        document.documentElement.setAttribute('data-theme', currentTheme);
        darkModeSwitch.checked = currentTheme === 'dark';
        document.body.style.visibility = 'visible'; // make the body visible
    }
    darkModeSwitch.addEventListener('change', function(event) {
        let theme = event.target.checked ? 'dark' : 'light';
        document.documentElement.setAttribute('data-theme', theme);
        localStorage.setItem('theme',  theme);
    });
    
</script>
@*<script src="~/js/site.js" asp-append-version="true"></script>*@
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>