@using Microsoft.AspNetCore.Identity
@using CrossWorldApp.Models

@inject SignInManager<CrossworldUser> SignInManager
@inject UserManager<CrossworldUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a id="manage" class="nav-link" asp-controller="ManageAccount" asp-action="Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link" id="login" asp-controller="Account" asp-action="Login">Log in</a>
    </li>
}
</ul>
