@model CrossWorldApp.ViewModels.Drafts.EditViewModel;
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<body>
    <div id="draft-editor-root"></div>
    <script src="~/dist/drafts.js"></script>
    <script type="text/javascript">
        (function () {
            window.InitDraftEditor(@Html.Raw(Json.Serialize(Model)));
        })();
    </script>
</body>