@model CrossWorldApp.ViewModels.Drafts.DraftsIndexViewModel

@{
    ViewBag.Title = "Drafts";
    Layout = "_Layout";
}

<h2>@ViewData["Title"]</h2>

<div id="drafts-index-root"></div>

<script src="~/dist/compose.js"></script>

<script type="text/javascript">
    (function () {
        window.InitDraftsIndex(@Html.Raw(Json.Serialize(Model)));
    })();
</script>

