@model CrossWorldApp.ViewModels.Solve.SolveViewModel;

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>title</h2>

<div id="solve-edit-root"></div>
<script src="~/dist/solve.js"></script>

<script type="text/javascript">
    (function () {
        window.InitSolveEdit(@Html.Raw(Json.Serialize(Model)));
    })();
</script>
