@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<div id="solve-game-root"></div>
<script src="~/dist/solve.js"></script>

<script type="text/javascript">
    (function () {
        window.InitSolveGame("@ViewData["id"]", "@ViewData["userName"]");
    })();
</script>