
.icon-cell-black {
    height: 40px;
    width: 40px;
    border: 1px solid var(--black-square);
    background-color: var(--black-square);
    color: var(--black-square);
}

.icon-cell-white {
    height: 40px;
    width: 40px;
    border: 1px solid var(--black-square);
    background-color: var(--white-square);
    color: var(--white-square);
}

.link-button {
    background: none!important;
    border: none;
    padding: 0!important;
    /*optional*/
    font-family: var(--bs-body-font-family);
    /*input has OS specific font-family*/
    color: var(--light-blue);
    text-decoration: underline;
    cursor: pointer;
}

.modal-content {
    background-color: var(--background-color);
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* adjust this as needed */
}
.flex-item {
    margin: 10px; /* adjust as needed */
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 100px;
    place-items: center;
}

@media (min-width: 1200px) { /* adjust this value according to your needs */
    .grid-container {
        grid-template-columns: 1fr 1fr;
    }
    
    /* and wide items span both columns */
    .grid-item-wide {
        grid-column: span 2;
    }
}

@media (max-width: 600px) { /* adjust this value according to your needs */
    .icon-cell-black {
        height: 20px;
        width: 20px;
        border: 1px solid black;
        background-color: black;
        color: black;
    }

    .icon-cell-white {
        height: 20px;
        width: 20px;
        border: 1px solid black;
        background-color: white;
        color: white;
    }

    .grid-item-wide {
        /* wide grid items span one column by default*/
        grid-column: span 1;
    }
}

@media (max-width: 450px) { /* adjust this value according to your needs */
    .icon-cell-black {
        height: 15px;
        width: 15px;
        border: 1px solid black;
        background-color: black;
        color: black;
    }

    .icon-cell-white {
        height: 15px;
        width: 15px;
        border: 1px solid black;
        background-color: white;
        color: white;
    }

    .grid-item-wide {
        /* wide grid items span one column by default*/
        grid-column: span 1;
    }
}

.grid-item {
    /* Style for individual items, if needed */
}


.icon-text {
    /*font-style: italic;*/
    color: var(--gray);
}


.title-text {
    font-style: normal;
    color: var(--color);
}

.author-text {
    color: var(--color);
}

.crossword-icon-border {
    border: 8px solid black;
}

.leaderboard-text {
    font-size: 14px;
    font-weight: 600;
    font-style: italic;
}

.solver-text {
    font-size: 14px;
}

.skip-button {
    font-size: 14px;
    background-color: var(--background-color);
    color: var(--gray);
    border: transparent;
}

.skip-button:hover {
    font-size: 14px;
    background-color: var(--background-color);
    color: var(--gray);
    border: transparent;
}

.login-modal-header {
    border-bottom: none;
}

.login-modal-footer {
    border-top: none;
}

.login-modal .modal-content {
    border: 1px solid gray; /* Set the border color to gray */
}