@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div id="compose-root"></div>

<script src="~/dist/compose.js"></script>

<script type="text/javascript">
    (function () {
        window.InitCompose();
    })();
</script>
