@model CrossWorldApp.ViewModels.Crosswords.CrosswordsIndexViewModel;

@{
    Layout = "_Layout";
}


<div id="crosswords-index-root"></div>

<script src="~/dist/crosswords.js"></script>

<script type="text/javascript">
    (function () {
        window.InitCrosswordsIndex(@Html.Raw(Json.Serialize(Model)));
    })();
</script>
