html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: black;
  color: white;
}

head {
    background-color: black;
}

a {
    color: white;
}

.navbar-light .navbar-brand {
    color: white;
}