html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    visibility: hidden;
    background-color: var(--background-color);
    color: var(--color);
}

.navbar, .navbar-brand, .navbar-nav .nav-link {
    background-color: var(--background-color);
    color: var(--color) !important;
    transition: background-color 0s;
}

:root[data-theme="light"] {
    /* your light theme styles */
    --background-color: white;
    --color: black;
}

:root[data-theme="dark"] {
    /* your dark theme styles */
    --background-color: black;
    --color: white;
}

.small-font {
    font-size: 8px; /* you can adjust the pixel size to make it smaller or larger */
}