
@{
    ViewBag.Title = "About";
    Layout = "_Layout";
}

<h2>About</h2>

<p>
    crossworld.io is a hobby website made by <a asp-area="" asp-controller="Home" asp-action="Contact">Austin Kang</a>.
</p>
<p>
    Construct, construct with friends, solve, solve with friends, or compete to see who can get the best time!
</p>
