@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Contact</h2>

<a href="https://twitter.com/kangaustin">Twitter</a> <br/>
<a href="https://github.com/stinkang">GitHub</a> <br/>
<a href="https://www.linkedin.com/in/stinkang/">LinkedIn</a> <br/>
<a href="https://www.leetcode.com/ch33tcode">LeetCode</a> <br/>
